

.page-top-container {
    background-color: var(--background-boxes);
    padding: 20px 10px;
    margin-top: 106px;
}

.page-top-container h3{
    text-align: right;
    color: var(--gray-color);
    margin-right: 5px;
}




/* Tablet */ 
@media(min-width: 760px) {
    .page-top-container {
        margin-top: 115px;
        padding: 30px 10px;
    }
}



/* Desktop */ 
@media(min-width: 1200px) {

    .page-top-container {
        margin-top: 130px;
    }

    .page-top-container h3{
        margin-right: 65px;
    }

}