:root {
  --yellow-color: #F4BC16;
  --black-color: #000000;
  --gray-color: #444444;
  --gray-light-color: #999999;
  --background-boxes: #F5F5F5;
  --text-link: #7678ED;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}





.App {
  text-align: center;
}
